<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ImgProcBinFolderPath" value="D:\VT-Files\RAPPreprocess\bin"/>
    <add key="ImgProcConfigFolderPath" value="D:\VT-Files\RAPPreprocess\config"/>
    <add key="JavaExeFilePath" value="C:\Program Files\Java\jre1.8.0_171\bin\java.exe"/>
    <add key="JavaClasspath" value="D:\VT-Files\RAPPreprocess\PreprocessJavaUtils\dist\*"/>
    <add key="ProcessesLogPath" value="C:\temp\CAPI_Processes_Log"/>
    <add key="ImageRepositoryPath" value="D:\VT-Files\ImageRepository"/>
    <add key="ManualProcessPath" value="D:\VT-Files\ManualProcess"/>
    <add key="Hl7ProcessPath" value=""/>
    <add key="ProcessCasesAddedManually" value="1"/>
    <add key="ProcessCasesAddedByHL7" value="0"/>
    <add key="TestResources" value="D:\VT-Files\TestResources"/>
  </appSettings>
</configuration>