<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ImgProcBinFolderPath" value="D:\Capi-Files\RAPPreprocess\bin"/>
    <add key="JavaExeFilePath" value="C:\Program Files (x86)\Java\jre1.8.0_144\bin\java.exe"/>
    <add key="JavaClasspath" value="D:\Capi-Files\RAPPreprocess\PreprocessJavaUtils\dist\*"/>
    <add key="ProcessesLogPath" value="C:\temp\CAPI_Processes_Log"/>
    <add key="ImageRepositoryPath" value="D:\Capi-Files\ImageRepository"/>
    <add key="ManualProcessPath" value="D:\Capi-Files\ManualProcess"/>
    <add key="Hl7ProcessPath" value="D:\Capi-Files\Hl7Process"/>
    <add key="ProcessCasesAddedManually" value="1"/>
    <add key="ProcessCasesAddedByHL7" value="0"/>
  </appSettings>
</configuration>