<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ImgProcBinFolderPath" value="D:\MehdiFiles\RAPPreprocess\bin"/>
    <add key="JavaExeFilePath" value="C:\Program Files\Java\jre1.8.0_121\bin\java.exe"/>
    <add key="JavaClasspath" value="D:\MehdiFiles\RAPPreprocess\PreprocessJavaUtils\dist\*"/>
    <add key="ProcessesLogPath" value="C:\temp\CAPI_Processes_Log"/>
    <add key="ImageRepositoryPath" value="D:\MehdiFiles\ImageRepository"/>
    <add key="ManualProcessPath" value="D:\MehdiFiles\ManualProcess"/>
    <add key="Hl7ProcessPath" value="D:\Mirth_data\Capi\CompletedMRIs"/>
    <add key="ProcessCasesAddedManually" value="0"/>
    <add key="ProcessCasesAddedByHL7" value="1"/>
  </appSettings>
</configuration>