<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <threshold value="INFO" />
      <mapping>
        <level value="ERROR" />
        <forecolor value="Red" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yy-MM-dd HH:mm:ss.fff} [%logger] %level - %message%newline%exception" />
      </layout>
    </appender>
    <appender name="ErrorsRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="WARN" />
      <file value="../log/log.error.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yy-MM-dd HH:mm:ss.fff} [%logger] %level - %message%newline%exception" />
      </layout>
    </appender>
    <appender name="AllLogsRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="INFO" />
      <file value="../log/log.txt" />
      <preserveLogFileNameExtension value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yy-MM-dd HH:mm:ss.fff} [%logger] %level - %message%newline%exception" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <!-- ...but not the rest of it -->
        <loggerToMatch value="ClearCanvas.Common.Platform" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>
    <root>
      <!--<level value="INFO" />-->
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="ErrorsRollingFileAppender" />
      <appender-ref ref="AllLogsRollingFileAppender" />
    </root>
  </log4net>
</configuration>