extends template.pug
block content
	div(class="content")
		div(class="row")
			div(class="col-md-12")
				div(class="card")
					div(class="card-header")
						h4(class="card-title") Adding case...
					div(class="card-body" style="padding:50px")
						p !{message}