doctype html
html
	head
		title VisTarsier 2 dev
		link(rel='stylesheet', href='../css/bootstrap.min.css')
		link(rel='stylesheet', href='../css/now-ui-dashboard.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block head
		
	body
		div(class="sidebar-wrapper")
			div(class="sidebar" data-color="blue")
				div(class="logo")
					a(class="simple-text logo-normal" style="text-transform:none") VisTarsier 2
				div(class="sidebar-wrapper" id="sidebar-wrapper")
					ul(class="nav")
									
						li
							a(href="/jobs/")
								i(class="now-ui-icons design_bullet-list-67")
								p Jobs
						li
							a(href="/attempts/")
								i(class="now-ui-icons business_briefcase-24")
								p Attempts
									
						li
							a(href="/log/")
								i(class="now-ui-icons files_paper")
								p Log
								
						li
							a(href="/manual/")
								i(class="now-ui-icons design-2_ruler-pencil")
								p Manual Case
						
			div(class="main-panel" id="main-panel")
				nav(class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute")
					div(class="container-fluid")
						div(class="navbar-wrapper")
						a(class="navbar-brand" href="#pablo") 
				
				div(class="panel-header panel-header-sm")
				block content