@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    @Scripts.Render("~/bundles/HomeJs")
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js")
}
<div ng-app="HomeView" ng-controller="HomeCtrl" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div>
                        <h3>Image Loader</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-title">Local Drive</div>
                                </div>
                                <div class="panel-body">
                                    @*<button ng-click="LoadTwoSampleSeries()" class="btn btn-success">Load Two Sample Series</button>*@
                                    <button ng-click="GetDicomSeries()" class="btn btn-success">Load Dicom Series</button>
                                    <button ng-click="SendSampleFileToPacs()" class="btn btn-warning">Send Sample file to PACS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div>
                        <h3>Objects</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-title">Loaded Series</div>
                                </div>
                                <div class="panel-body">
                                    <div ng-repeat="seriesVm in LoadedSeries.seriesArray">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="badge badge-default">{{seriesVm.fileFormat}}</span>
                                                <span style="color: violet; font-weight: bold;">{{seriesVm.name}}</span> ({{seriesVm.numberOfImages}})
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Extract Brain Mask</a></li>
                                                <li><a href="#">Register with...</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="#" ng-click="seriesVm.displayInViewport(Viewports, 0, 0)">Display in Viewer 1</a></li>
                                                <li><a href="#" ng-click="seriesVm.displayInViewport(Viewports, 1, 0)">Display in Viewer 2</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-title">Frames of Reference</div>
                                </div>
                                <div class="panel-body">


                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-title">Results</div>
                                </div>
                                <div class="panel-body">


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div>
                            <h3>Step by Step Processing</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <div class="btn-group" role="group">
                                <div class="row">
                                    <input ng-click="Step1()" type="button" class="btn btn-info btn-xs rounded-3" style="margin-top: 2px;" value="1- Convert Dicom -> HDR/IMG" />
                                </div>
                                <div class="row">
                                    <input ng-click="Step2()" type="button" class="btn btn-info btn-xs rounded-3" style="margin-top: 2px;" value="2- Extract Brain Mask" />
                                </div>
                                <div class="row">
                                    <input ng-click="Step3()" type="button" class="btn btn-info btn-xs rounded-3" style="margin-top: 2px;" value="3- Convert HDR/IMG -> NII" />
                                </div>
                                <div class="row">
                                    <input ng-click="Step4()" type="button" class="btn btn-info btn-xs rounded-3" style="margin-top: 2px;" value="4- 3D Registration" />
                                </div>
                                <div class="row">
                                    <input ng-click="Step5()" type="button" class="btn btn-info btn-xs rounded-3" style="margin-top: 2px;" value="5- Take Difference" />
                                </div>
                                <div class="row">
                                    <input ng-click="Step6()" type="button" class="btn btn-info btn-xs rounded-3" style="margin-top: 2px;" value="6- Convert Old Series into DICOM" />
                                </div>
                                <div class="row">
                                    <input ng-click="Step7()" type="button" class="btn btn-info btn-xs rounded-3" style="margin-top: 2px;" value="7- Colour Map Overlay" />
                                </div>
                                <div class="row">
                                    <input ng-click="Step8()" type="button" class="btn btn-info btn-xs rounded-3" style="margin-top: 2px;" value="8- Copy DICOM Headers into old resliced DICOM" />
                                </div>
                                <div class="row">
                                    <input ng-click="RunAll()" type="button" class="btn btn-success rounded-3" style="margin-top: 10px;" value="Run the whole process" />
                                </div>

                                <div class="row">
                                    <input ng-click="GetListOfImage()" id="btnLoadImages" type="button" class="btn btn-primary rounded-3" style="margin-top: 10px;" value="Load Images" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="row imageViewerContainersRow">
        <div class="col-md-5">
            <div class="panel panel-default imageViewerContainer">
                <div class="panel-heading">
                    <div class="container">
                        <div class="row">
                            <div>
                                {{Viewports.viewportArray[0].seriesDisplayed.name}}
                            </div>
                        </div>
                        <div class="row" style="font-size: smaller">
                            <span>Image: {{Viewports.viewportArray[0].imageDisplayedIndex>-1 ? Viewports.viewportArray[0].imageDisplayedIndex + 1 : 0}}</span>
                            <span>/</span>
                            <span>{{Viewports.viewportArray[0].seriesDisplayed.imagesList ? Viewports.viewportArray[0].seriesDisplayed.imagesList.length : 0}}</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <img class="imageViewer" ng-mouse-wheel-down="mwDown(0)" ng-mouse-wheel-up="mwUp(0)" ng-src="{{Viewports.viewportArray[0].displayedImagePath}}" style="width: 330px; height: 330px;" alt="" />
                        </div>
                        <div class="row" style="margin-top: 5px; width: 430px;">
                            <div class="col-md-12">
                                <input type="range" min="0" max="{{Viewports.viewportArray[0].seriesDisplayed.imagesList.length - 1}}" ng-model="Viewports.viewportArray[0].imageDisplayedIndex" style="width: 430px;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1" style="text-align: center;">
            <div class="row" style="height: 100px;">
                <button ng-click="toggleLink()" type="button" class="btn btn-lg btn-default">
                    <i ng-class="LinkButtonClass" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default imageViewerContainer">
                <div class="panel-heading">
                    <div class="container">
                        <div class="row">
                            <div>
                                {{Viewports.viewportArray[1].seriesDisplayed.name}}
                            </div>
                        </div>
                        <div class="row" style="font-size: smaller">
                            <span>Image: {{Viewports.viewportArray[1].imageDisplayedIndex > -1 ? Viewports.viewportArray[1].imageDisplayedIndex + 1 : 0}}</span>
                            <span>/</span>
                            <span>{{Viewports.viewportArray[1].seriesDisplayed.imagesList ? Viewports.viewportArray[1].seriesDisplayed.imagesList.length : 0}}</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <img class="imageViewer" ng-mouse-wheel-down="mwDown(1)" ng-mouse-wheel-up="mwUp(1)" ng-src="{{ Viewports.viewportArray[1].displayedImagePath}}" style="width: 330px; height: 330px;" alt="" />
                        </div>
                        <div class="row" style="margin-top: 5px; width: 430px;">
                            <div class="col-md-12">
                                <input type="range" min="0" max="{{Viewports.viewportArray[1].seriesDisplayed.imagesList.length - 1}}" ng-model="Viewports.viewportArray[1].imageDisplayedIndex" style="width: 430px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>