<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CAPI.Agent_Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CAPI.Agent_Console.Properties.Settings.VtConnectionString" connectionString="Data Source=172.28.43.65;Initial Catalog=Vistarsier;User ID=sa;Password=radsysadmin" providerName="System.Data.SqlClient" />
        <add name="CAPI.Agent_Console.Properties.Settings.CapiConnectionString" connectionString="Data Source=172.28.43.65;Initial Catalog=CAPI;User ID=sa;Password=radsysadmin" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <CAPI.Agent_Console.Properties.Settings>
            <setting name="DbCheckInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DcmNodeAET_Local" serializeAs="String">
                <value>CAPI</value>
            </setting>
            <setting name="DcmNodeIP_Local" serializeAs="String">
                <value>172.28.43.65</value>
            </setting>
            <setting name="DcmNodePort_Local" serializeAs="String">
                <value>4104</value>
            </setting>
            <setting name="DcmNodeAET_Remote" serializeAs="String">
                <value>RMHSYNAPSESCP</value>
            </setting>
            <setting name="DcmNodeIP_Remote" serializeAs="String">
                <value>172.28.40.151</value>
            </setting>
            <setting name="DcmNodePort_Remote" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="Process" serializeAs="String">
                <value>True</value>
            </setting>
        </CAPI.Agent_Console.Properties.Settings>
        <log4net>
          <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="%date{ABSOLUTE} [%logger] %level - %message%newline%exception" />
            </layout>
          </appender>
          <root>
            <level value="WARN" />
            <appender-ref ref="ConsoleAppender" />
          </root>
        </log4net>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>