<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAPI.Agent_Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CAPI.Agent_Console.Properties.Settings.VtConnectionString"
            connectionString="Data Source=***REMOVED***;Initial Catalog=Vistarsier;User ID=sa;Password=***REMOVED***"
            providerName="System.Data.SqlClient" />
        <add name="CAPI.Agent_Console.Properties.Settings.CapiConnectionString"
            connectionString="Data Source=***REMOVED***;Initial Catalog=CAPI;User ID=sa;Password=***REMOVED***"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <CAPI.Agent_Console.Properties.Settings>
            <setting name="DbCheckInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DcmNodeAET_Local" serializeAs="String">
                <value>CAPI</value>
            </setting>
            <setting name="DcmNodeIP_Local" serializeAs="String">
                <value>***REMOVED***</value>
            </setting>
            <setting name="DcmNodePort_Local" serializeAs="String">
                <value>4104</value>
            </setting>
            <setting name="DcmNodeAET_Remote" serializeAs="String">
                <value>RMHSYNAPSESCP</value>
            </setting>
            <setting name="DcmNodeIP_Remote" serializeAs="String">
                <value>***REMOVED***</value>
            </setting>
            <setting name="DcmNodePort_Remote" serializeAs="String">
                <value>104</value>
            </setting>
        </CAPI.Agent_Console.Properties.Settings>
    </applicationSettings>
</configuration>