<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net461" />
  <package id="Nancy" version="1.4.4" targetFramework="net461" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net461" />
  <package id="Unity" version="5.6.0" targetFramework="net461" />
</packages>