<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAPI.ImageProcessing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <applicationSettings>
    <CAPI.ImageProcessing.Properties.Settings>
      <setting name="Dcm2NiiExe" serializeAs="String">
        <value>dcm2nii.exe</value>
      </setting>
      <setting name="Dcm2NiiHdrParams" serializeAs="String">
        <value>-n N -f Y -r N</value>
      </setting>
      <setting name="Dcm2NiiNiiParams" serializeAs="String">
        <value>-n Y -f Y -r N -g N</value>
      </setting>
      <setting name="MiconvFileName" serializeAs="String">
        <value>miconv.exe</value>
      </setting>
    </CAPI.ImageProcessing.Properties.Settings>
  </applicationSettings>
</configuration>