<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAPI.ImageProcessing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CAPI.ImageProcessing.Properties.Settings>
            <setting name="dcm2niiFilename" serializeAs="String">
                <value>dcm2niix.exe</value>
            </setting>
            <setting name="dcm2niiParams" serializeAs="String">
                <value />
            </setting>
            <setting name="bseFilename" serializeAs="String">
                <value>bse.exe</value>
            </setting>
            <setting name="bseParams" serializeAs="String">
                <value>--auto --trim</value>
            </setting>
            <setting name="javaClassCopyNiftiImg2Pt" serializeAs="String">
                <value>au.com.nicta.preprocess.main.CopyNiftiImage2PatientTransform</value>
            </setting>
            <setting name="registrationFilename" serializeAs="String">
                <value>CMTK\bin\registration.exe</value>
            </setting>
            <setting name="registrationParams" serializeAs="String">
                <value>--initxlate --dofs 6 --auto-multi-levels 4</value>
            </setting>
            <setting name="javaClassConvertCmtkXform" serializeAs="String">
                <value>au.com.nicta.preprocess.main.ConvertCmtkXform</value>
            </setting>
            <setting name="cmtkRawXformFilename" serializeAs="String">
                <value>cmtk_xform_mat.txt</value>
            </setting>
            <setting name="reformatResultsFilename" serializeAs="String">
                <value>fixed_to_floating_rap_xform.txt</value>
            </setting>
            <setting name="reformatResultsFolderName" serializeAs="String">
                <value>cmtk_xform</value>
            </setting>
            <setting name="reformatxFilename" serializeAs="String">
                <value>CMTK\bin\reformatx.exe</value>
            </setting>
            <setting name="bfcFilename" serializeAs="String">
                <value>bfc.exe</value>
            </setting>
            <setting name="bfcParams" serializeAs="String">
                <value>--iterate --ellipse</value>
            </setting>
            <setting name="javaClassMsProgression" serializeAs="String">
                <value>au.com.nicta.preprocess.main.MsProgression</value>
            </setting>
            <setting name="javaClassColorMap" serializeAs="String">
                <value>au.org.mh.radiology.capi.ColorMap</value>
            </setting>
            <setting name="colomapConfigFilename" serializeAs="String">
                <value>colormap.config</value>
            </setting>
            <setting name="img2dcmFilename" serializeAs="String">
                <value>dcmtk-3.6.0-win32-i386\img2dcm.exe</value>
            </setting>
            <setting name="subPosOutFile" serializeAs="String">
                <value>diff_dark_in_floating_to_bright_in_fixed.nii</value>
            </setting>
            <setting name="subNegOutFile" serializeAs="String">
                <value>diff_bright_in_floating_to_dark_in_fixed.nii</value>
            </setting>
            <setting name="subMaskOutFile" serializeAs="String">
                <value>diff_brain_surface_mask.nii</value>
            </setting>
            <setting name="colormapPositiveDcm" serializeAs="String">
                <value>flair_new_with_changes_overlay_positive_dcm</value>
            </setting>
            <setting name="colormapNegativeDcm" serializeAs="String">
                <value>flair_new_with_changes_overlay_negative_dcm</value>
            </setting>
            <setting name="colormapPositiveImages" serializeAs="String">
                <value>flair_new_with_changes_overlay_positive</value>
            </setting>
            <setting name="colormapNegativeImages" serializeAs="String">
                <value>flair_new_with_changes_overlay_negative</value>
            </setting>
        </CAPI.ImageProcessing.Properties.Settings>
    </applicationSettings>
</configuration>